.icon-alert {
    height:76px;
    width:76px;
    background:#FFB81C;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
    display: block;
    position: absolute;
}

.icon-alert-error {
    height:76px;
    width:76px;
    background: #DD1B37;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
    display: block;
    position: absolute;
}

.content-alert {
    height: auto;
    background-color: transparent;
    display: flex;
    justify-content: center;
    position:relative;
}