<header class="w-[100%] h-[60px] px-[30px] flex items-center bg-blue-dark fixed top-0">
  <nav class="w-full">
    <ul class="flex justify-between items-center">
      <li class="w-[28px] h-[23px]">
        <img src="./assets/images/home.svg" alt="Home" class="w-full h-full" />
      </li>
      <li class="w-[30px] h-[29px]">
        <img src="./assets/images/logo.svg" alt="Bi" class="w-full h-full" />
      </li>
      <li class="w-[28px] h-[23px]">
        <img
          src="./assets/images/burger.svg"
          alt="Menu"
          class="w-full h-full" />
      </li>
    </ul>
  </nav>
</header>
