<div  class="flex  justify-between text-[#003763] flex-row"   [ngClass]="containerClasses">
  <label class=" text-[18px] text-center my-[12px] ">Plazo </label>
  <div class="flex justify-center rounded-[35px] px-[9px] py-[9px]  bg-[#EBEBEB] ">
  <button
      class="button-spinner" 
      (click)="clickMinus()"
      id="plusspinner" >
       <label class=" mx-[12px] my-[-6px]">-</label>
 </button>

  <h2 class="text-[25px]  w-[55px]  text-center font-bold delay-75 ">{{value}}</h2>
  <button
     class="button-spinner" 
    (click)="clickPlus()"
    id="minusspinner"
     > <label class=" mx-[10px] my-[-6px]">+</label>
    </button>
    </div>
</div>
