.button-spinner {
    display: flex;
    font-weight: bold;
    font-size: 30px;
    height: 36px;
    width: 36px;
    background-color: white;
    border-radius: 35px;
}

.icon-alert-error {
    height:76px;
    width:76px;
    background: #DD1B37;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
    display: block;
    position: absolute;
}

.content-alert {
    height: auto;
    background-color: transparent;
    display: flex;
    justify-content: center;
    position:relative;
}