<div class="content-alert">
    <div class="icon-alert" [ngClass]="{'icon-alert': model.type !=='error','icon-alert-error':  model.type ==='error'}" >
        <img *ngIf="model.type === 'confirm'" class="my-[19px] mx-[29px] " src="./assets/images/confirmDialogIcon.svg" alt="?"/>
        <img *ngIf="model.type === 'error'"   class="my-[22px] mx-[22px]" src="./assets/images/errorDialogIcon.svg" alt="?"/>
        <img *ngIf="model.type === 'info'"    class="my-[30px] mx-[45px]" src="./assets/images/infoDialogIcon.svg" alt="?"/>
    </div>

    <div class="justify-center text-center bg-white py-[35px] block mt-12  rounded-3xl h-auto w-[81vw]">
        <div *ngIf="model.title" class="px-[10vw] py-[10px] leading-5" [innerHtml]="model.title" ></div>
        <div *ngIf="model.body"  class="px-[10vw] py-[10px]  leading-5"  [innerHtml]="model.body" ></div>
        <app-button [buttonColor]=" colorBotton()"  class="flex justify-center pt-[10px]" containerClasses="h-[40px] w-[150px] justify-center text-center " [label]="model.okText" (clickEvent)="okAction()"></app-button>
        <app-button *ngIf="model.type === 'confirm'" class="flex justify-center pt-[4px]" [buttonColor]="'link'" containerClasses="h-[40px] w-[150px] justify-center text-center " [label]="model.cancelText" (clickEvent)="cancelAction()"></app-button>
        
    </div>
</div>