/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Lato', sans-serif;
}

.p-dialog{
     box-shadow: none !important; 
     display: flex;
     flex-direction: column;
     justify-content: center;
     overflow: hidden !important;
     
}

